<html>
    <header>
        <title>Countries</title>
        <link rel="stylesheet" type="text/css" href="styles.css">
    </header>
    <body>
    	<div class="wrapper">
    		
	    	<img class="country-flag" src=<%= country.flag %>>
	    	<ul class="country-details">
		        <li>Country name: <%= country.name %></li>
		        <li>Native name: <%= country.nativeName %></li>
		        <li>Population: <%= country.population %></li>
		        <li>Region: <%= country.region %></li>
	    		
	    	</ul>
    		
    	</div>

    </body>
    
</html>