<html>
    <header>
        <title>Countries</title>
    </header>
    <body>
    	<div>
    		
	    	<img src=<%= country.flag %>>
	    	<ul>
		        <li>Country name: <%= country.name %></li>
		        <li>Native name: <%= country.nativeName %></li>
		        <li>Population: <%= country.population %></li>
		        <li>Region: <%= country.region %></li>
	    		
	    	</ul>
    		
    	</div>

    </body>
    
</html>